body {
    margin: 0;
    font-family: sans-serif;
}

.container_flued {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 400px;
  
}

.icon {
    text-align: center;
    margin-top: -23.5pc;
    cursor: pointer;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: inline;
    position: absolute;
}

.text {
    text-align: center;
}

.text .high {
    font-size: 55px;
    margin-bottom: -30px;
    margin-top: 5pc;
}

.text .small {
    font-size: 30px;
    padding-top: 10px;
    font-weight: lighter;
    color: black;
}

.two {

    background-color: hsl(357deg 79% 54%);
    width: 100%;
    color: white;
    margin-top: 114px;
    text-align: center;
}

.two .img1 {
    float: right;
    margin-top: 10px;
    height: 400px;
  
}

.rest {
    color: white;
    margin-top: 100px;
    text-align: center;
}

.rest h1 {
    margin-top: -14px;
    font-size: 80px;
}

.rest h2 {
    font-size: 28px;
    margin-top: -52px;
    padding-left: 49px;
}

.rest p {
    color: #bfb7b7;
}

.rest button {
    color: #bfb7b7;
    border-bottom: 7px solid white;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 21pc;
}

.three {
    justify-content: space-evenly;
    color: white;
    display: flex;
    gap: 60px;
}

.black-bg {
    background-color: black;
}

.box1 {
    width: 30%;
    padding-left: 110px;
}

.box2 {
    width: 30%;
}

.box1 h1 {
    margin: 0px;
    font-size: 75px;
    padding-bottom: -7px;
    margin-bottom: -45px;
    padding-top: 50px;
}

.box1 small {
    color: #bfb7b7;
    font-size: 44px;
}

.box1 p {
    margin-top: 73px;
    font-size: 11px;
}

.box2 h1 {
    margin: 0px;
    font-size: 75px;
    padding-bottom: -7px;
    margin-bottom: -45px;
    padding-top: 50px;
}

.box2 small {
    color: #bfb7b7;
    font-size: 44px;
}

.box2 p {
    margin-top: 73px;
    font-size: 11px;
    margin-bottom: 40px
}

.three .sam {
    font-size: 44px;
    margin-top: -62px;
}


.four {
    background-image: url(./img/three.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.next {
    font-size: 14px;
    color: white;
    margin-top: 20pc;
    margin-right: 42pc;
}

.next h1 {
    margin: 0px;
}

.four small {
    color: #bfb7b7;
    font-size: 25px;
}

.five {

    color: white;
    height: 175px;
    padding-top: 50px;
    text-align: center;

}

.red-bg {
    background-color: hsl(357deg 79% 54%);
}

.five button {
    color: hsl(357deg 79% 54%);
    border-bottom: 7px solid white;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.five .ico {
    font-size: 20px;
}

.ico a {
    color: white;
    padding: 5px;
}

.six {
    background-image: url(./img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.bottom {
    margin-top: 125px;
}

.img3 {
    height: 500px;
    width: auto;
    display: flex;
    margin-left: 10pc;
}

.bottom h1 {
    color: #d9303a;
}

.bottom p {
    color: #bfb7b7;
    margin-right: 14pc;
}

.model {
    color: white;
    border-bottom: 7px solid white;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: 2px;
    cursor: pointer;

}

.seven {
    display: flex;
    color: white;
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
}

.blue-bg {
    background-color: hsl(357deg 79% 54%);
}

.demo small {
    color: #bfb7b7;
}

.demo {
    width: 50%;
    margin-left: 13pc;

}

.demo h1 {
    margin-right: 16pc;
    font-size: 31px;
    font-weight: lighter;

}

.demo1 {
    width: 50%;
    text-align: start;
}

.demo1 h1 {
    color: #bfb7b7;
    font-size: 31px;
}

.demo1 i {
    background-color: black;
    border: 5px solid black;
    font-size: 30px;
    cursor: pointer;
}

form #name {
    width: 84%;
    height: 30px;
}

form #Address {
    width: 84%;
    height: 30px;
}

form #Message {
    width: 84%;
    height: 60px;
}

.fname {
    margin-right: 31.5pc;
    color: #bfb7b7;
    font-size: 15px;
}

.fadd {
    margin-right: 30.5pc;
    color: #bfb7b7;
    font-size: 15px;
}

.fmas {
    margin-right: 30pc;
    color: #bfb7b7;
    font-size: 15px;
}

.seven .button {
    margin: 10px 0px;
    height: 30px;
    width: 80px;
    border: 1px solid white;
    background-color: hsl(357deg 79% 54%);
    color: white;
    margin-left: -29pc;
    cursor: pointer;
}

.footer {
    background-color: #403434;
    color: #bfb7b7;
    font-size: 14px;
    height: 50px;
    text-align: center;
    font-weight: lighter;
    padding: 12px 0px;
}

@media screen and (max-width: 600px) {

    .first {
        display: block;
        font-size: 10px;
    }

    .text .high {
        font-size: 46px;
        margin-top: 93px;
    }

}


@media screen and (max-width: 600px) {

    .two {
        display: block;
        font-size: 13px;
        height: auto;
    }

    .img1 {
        float: left;
        width: 100%;
    }

    .rest button {
        margin-left: 16pc;
        margin-bottom: 20px;
    }

    .rest {
        margin-top: 27pc;
    }
}

@media screen and (max-width: 600px) {
    .three {
        width: 100%;
        overflow: hidden;
        display: inline;
    }

    .box1 h1 {
        margin-left: 10pc;
    }

    .box1 {
        width: 100%;
        margin-left: -7pc;
    }

    .box1 small {
        margin-left: -80px;
    }

    .box1 .sam {
        margin-left: 5pc;
    }

    .box1 p {
        margin-left: 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {

    .box2 {
        width: 100%;
    }

    .box2 h1 {
        margin-left: 10pc;
    }

    .box2 p {
        margin-left: 15px;
        font-size: 12px;
    }

    .box2 small {
        margin-left: -80px;
    }

    .box2 .sam {
        margin-left: 5pc;
    }
}

@media screen and (max-width: 600px) {

    .four {
        display: block;
        width: 100%;
        background-image: url(./img/three.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }

    .next {
        margin-top: 80px;
        margin-left: 20px;
    }

    .next h1 {
        font-size: 20px;
    }

    .next h1 small {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {

    .six {
        display: inline;
        overflow: hidden;
        height: auto;
    }

    .img3 {
        width: 100%;
        text-align: center;
        margin: 0px;
        margin-left: -5pc;
    }

    .bottom {
        width: 100%;
        margin-top: -40px;
        text-align: center;
    }

    .bottom p {
        margin-right: 15px;
    }

    .bottom .model {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {

    .seven {
        overflow: hidden;
        display: block;
        height: auto;
    }

    .demo {
        width: 100%;
        text-align: center;
        margin: 0px;

    }

    .demo h1 {
        margin-left: 20px;
        font-size: 17px;
    }

    .fname,
    .fadd,
    .fmas {
        margin-left: 34px;
    }

    .seven .button {
        margin-left: -20pc;
    }

    .demo1 {
        width: 100%;

    }

    .demo1 h1 {
        margin-left: 35px;
    }

    .demo1 .icons {
        margin-left: 40px;
    }
}